asn1crypto==0.24.0
autoflake==1.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
configparser==3.5.0
cryptography==2.1.4
Django==1.11.6
djangorestframework==3.7.0
enum34==1.1.6
flake8==3.5.0
html5lib==0.999999999
idna==2.6
ipaddress==1.0.19
mccabe==0.6.1
mechanize==0.3.6
nltk==3.2.5
oauthlib==2.0.6
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pyOpenSSL==17.5.0
pysolr==3.7.0
python-dateutil==2.6.1
pytz==2017.2
rake-nltk==1.0.1
requests==2.20.0
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.5.0
urllib3==1.22
watson-developer-cloud==1.0.2
webencodings==0.5.1
